body {
	font-size: 16px;
	font-family: 'Pretendard-Regular';
}
/* intro */
.intro {
	position: fixed;
	left:0;
	top:0;
	width:100%;
	height:100vh;
	z-index: 2;
	background-color: #fff;
}
.header-seciton {
	position:fixed;
	width:100%;
	height:60px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
	display:flex;
	align-items: center;
	z-index: 1;
	padding-left:10%;
}

h1 a {
	background: url(../images/logo.svg) no-repeat 100% 100% / contain;
	width:84px;
	height: 30px;
	text-indent: -9999em;
	display:block;
}

.title-wrap {
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width:100%;
	height:100%;
	gap:10%;
}

.title span {
	animation: title_ani 1.5s infinite;
	position: relative;
	-webkit-text-stroke: 1px #000;
	text-shadow: 2px 2px 10px rgba(0,0,0,.3);
	color:#fff;
}

.title span:last-child {
	letter-spacing: 10px;
}

.title span:first-child {animation-delay: .1s;}
.title span:nth-child(2) {animation-delay: .2s;}
.title span:nth-child(3) {animation-delay: .3s;}
.title span:nth-child(4) {animation-delay: .4s;}
.title span:nth-child(5) {animation-delay: .5s;}
.title span:nth-child(6) {animation-delay: .6s;}
.title span:nth-child(7) {animation-delay: .7s;}
.title span:nth-child(8) {animation-delay: .8s;}
.title span:nth-child(9) {animation-delay: .9s;}
.title span:last-child {animation-delay: 1s;}

@keyframes title_ani {
	0%{top:0;}
	20% {top:0.2em;}
	40%{top:0;}
	60%{top:0;}
	80%{top:0;}
	100%{top:0;}
}

.start-btn {
	background: url(../images/click.png) no-repeat 100% 100%/ cover;
	width:40px;
	height:40px;
	border:none;
	cursor: pointer;
	position: relative;
}

.start-btn span{
	text-indent: -9999em;
	width:0.1px;
	overflow: hidden;
	display:inline-block;
}

.start-btn::before {
	content: "";
	display:block;
	width:10px;
	height:10px;
	position: absolute;
	top:-2px;
	left:30px;
	border: 1px solid #000;
	border-radius: 50%;
	transform-origin: 50% 50%;
	animation: btnCirAni 1s infinite ease;
}

@keyframes btnCirAni {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(3);
		opacity: 0;
	}
}


/* nav */
#fp-nav {display:none;}
#fp-nav ul li a::after {
	content:"";
	display:none;
	position: absolute;
	right:20px;
	top:50%;
	transform: translateY(-50%);
	font-size: 16px;
}
#fp-nav ul li a.active::after {
	display:block;
}
#fp-nav ul li:first-child a.active:after {
	content:"Resume"
}
#fp-nav ul li:nth-child(2) a.active:after {
	content:"About"
}
#fp-nav ul li:last-child a.active:after {
	content:"Work"
}

#fp-nav ul li a.active span {background:#009DFF !important;}

/* section1 - About */
.tag {
	display: inline-block;
	padding:5px 10px;
	border-radius: 2px;
	background: #d1d1d1;
	color:#5c5c5c;
	margin-right:20px;
}

.study {
	display:flex;
	flex-direction: column;
	gap:10px;
}

/* section2 - Resume */
.icon {
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
}
.photoshop {background-image: url(../images/icon_photoshop.png); width:40px; height:40px;}
.illustrator {background-image: url(../images/icon_illutrator.png); width:40px; height:40px;}
.figma {background-image: url(../images/icon_figma.svg); width:40px; height:40px;}
.html {background-image: url(../images/icon_html.svg); width:40px; height:40px;}
.css {background-image: url(../images/icon_css.svg); width:40px; height:40px;}
.js {background-image: url(../images/icon_js.svg); width:40px; height:40px;}
.jquery {background-image: url(../images/icon_jquery.svg); width:80px; height:40px;}
.scss {background-image: url(../images/icon_sass.svg); width:40px; height:40px;}
.react {background-image: url(../images/icon_react.svg); width:40px; height:40px;}
