/* header */
header {
	width:100%;
	height: 80px;
	position: fixed;
	z-index: 1;
	left:0;
	top:0;
	display:none;
}

header nav {
	font-size: 24px;
	padding:0 60px;
	transition: all 0.3s ease;
}

header nav:hover {
	box-shadow: 0 2px 5px 0 #00000040;
}

header nav ul {
	width: 100%;
	height:100%;
	display:flex;
	align-items:center;
	justify-content: flex-end;
	gap:5%;
}

nav li a {
	padding:10px;
	position: relative;
	text-align: center;
}



/* main */
#fullpage {
	padding:0 5%;
}

h2 {
	font-size: 48px;
	font-weight: 500;
}

/*  intro */
.title {
    font-size: 100px;
}

.title span:first-child {
	font-size: 50px;
}

/* section1 - About */
.section1 .fp-tableCell {
	display:flex;
	align-items: center;
	gap:5%;
}

.section1 h2 {
	width:30%;
	text-align: center;
}

.section .content  {
	width:100%;
	height: 100%;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap:10%;
}
.about > span {
	font-size: 32px;
}
.spec {
	width: 100%;
}
.myself li:nth-child(4) {
	display:flex;
	align-items: start;
}
.myself > * {margin-bottom: 20px;}

/* section2 - Resume */

.section2 .fp-tableCell {
	display:flex;
	align-items: center;
	gap:10%;
}

.section2 h2 {
	width:70%;
	text-align: center;
}
.section2 > div > div {
	width:100%;
}
.section2 h3 {
	font-size: 30px;
	margin-bottom:0.75em;
}

.section2 ul {
	padding-left:5%;
}
.career, .skill {
	text-align: left;
}
.career {
	margin-bottom:40px;
}
.career ul {
	display:flex;
	flex-direction: column;
	gap:25px;
}
.career ul li {
	display:flex;
	flex-direction: column;
	gap:10px;

}
.career ul li span:last-child {
	margin-left:30px;
	position: relative;
}
.career ul li span:last-child::before, .career ul li span:last-child::after {
	content:"";
	position: absolute;
	top:50%;
	transform: translateY(-50%);
}
.career ul li span:last-child::after {
	width:20px;
	height: .5px;
	background-color: #002236;
	left:-20px;
}
.career ul li span:last-child::before {
	width:4px;
	height:4px;
	border-radius: 50%;
	border: .5px solid transparent;
	background-color: #002236;
	left:-25px;
}

.skill ul {
	display:flex;
	align-items: center;
	gap:20px;
}

.skill ul:first-of-type {margin-bottom: 40px;}


/* section3 - Tab Content */
#tab-content {
	width:100%;
	height:75%;
	box-shadow: 0 0 5px rgba(0,0,0,.6);
	border-radius: 20px;
	background: #fff;
	padding:1% 2%;
	box-sizing: border-box;
}
.button {
	display:flex;
	align-items: center;
	justify-content: space-between;
}
#tab-content button {
	display:block;
	width: 250px; height: 100px;
	text-align: center;
	font-size: 22px;
	color:#333;
	line-height: 100px;
	transition: .3s;
	background: #fff;
	position: relative;
}
#tab-content button::after {
	content:'';
	display:block;
	height: 100px; width: 1px;
	background: rgba(0,0,0,.2);
	position: absolute;
	top: 0;
	left:120%;
}
.button button:first-child.active {background:#CE403D !important;}
.button button:nth-child(2).active {background:#86CEE0 !important;}
.button button:nth-child(3).active {background:#FF384A !important;}
.button button:nth-child(4).active {background:#007FA8 !important;}
.button button:last-child.active {background:#000000 !important;}

.tab-content > li:first-child::after{display:none;}

.tab-content > li > a{
	display:block;
	width: 250px; height: 100px;
	text-align: center;
	font-size: 22px;
	color:#333;
	position: relative;
	line-height: 100px;
	transition: .3s;
	background: #fff;
}
.tab-content > li > a.active {
	transform: translateY(50px) scale(1.2);
	box-shadow: 0 2px 5px rgba(0,0,0,.6);
	color:#fff;
	font-weight: bold;
	z-index: 10;
	border-radius: 15px;
}


.tab-content > li > a img {width: 100px;}
.tab-content > li .concept_wrap {
	position:absolute;
	width:100%;
	height:80%;
	padding:2% 5%;
	box-sizing: border-box;
	border-radius: 20px;
	background: #fff;
	display:none;
	z-index: 9;
}
.tab-content > li:first-child .concept_wrap {
	display:block;
	border: 2px solid #CE403D;
	box-shadow: 0 0 3px #CE403D inset;
}
.tab-content > li:nth-child(2) .concept_wrap {
	border: 2px solid #86CEE0;
	box-shadow: 0 0 3px #86CEE0 inset;
}
.tab-content > li:nth-child(3) .concept_wrap {
	border: 2px solid #FF384A;
	box-shadow: 0 0 3px #FF384A inset;
}
.tab-content > li:nth-child(4) .concept_wrap {
	border: 2px solid #007FA8;
	box-shadow: 0 0 3px #007FA8 inset;
}
.tab-content > li:last-child .concept_wrap {
	border: 2px solid #000000;
	box-shadow: 0 0 3px #000000 inset;
}
.tab-content > li > .concept_wrap > ul {
	display:flex;
	justify-content: space-around;
	align-items: center;
	width: 100%; height: 600px;
	margin:auto 0;
}
.tab-content > li .concept_wrap > ul > li:first-child img {
	width: 300px;
	float:left;
	clear:both;
	margin-top:20px;
	display:block;
}
.tab-content > li:nth-child(4) .concept_wrap > ul > li:first-child > img {
	width: 300px; height: 50px;
}
.tab-content > li > .concept_wrap > ul > li:last-child > .concept {
	width: 600px;
	display:flex;
	flex-wrap:wrap;
	align-content: center;
}
.tab-content > li > .concept_wrap > ul > li:last-child > .concept > div {
	width: 300px; height: 150px;
	margin:auto;
}
.tab-content > li > .concept_wrap > ul > li:last-child > .concept > div h3 {
	font-size: 20px;
	font-weight: bold;
	padding:10px 0;
}
.tab-content > li > .concept_wrap > ul > li:last-child > .concept > div > ul {
	display:flex;
	justify-content: center;
	gap:15px;
	align-items: center;
	height: 60px;
}
.tab-content > li > .concept_wrap > ul > li:last-child > .concept > div > ul > li p {
	font-size: 14px;
}
.tab-content > li > .concept_wrap > ul > li:last-child > .concept > div:first-child {
	float:left;
}
.tab-content > li > .concept_wrap > ul > li:last-child > .concept > div:first-child > ul > li p > span {
	display:inline-block;
	width: 20px; height: 35px;
	border-radius: 20px;
	transform-origin: 50% 50%;
	transform: rotate(-45deg);
}
.tab-content > li > .concept_wrap > ul > li:last-child > .concept > div:nth-child(2) {
	float:right;
}
.tab-content > li > .concept_wrap > ul > li:last-child > .concept > div:last-child {
	width: 600px;
}
.tab-content > li > .concept_wrap > ul > li:last-child > .concept > div:last-child p {
	line-height: 20px;
}
